<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}1Kids{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            {% if user.partner.is_active %}
            <a class="navbar-brand" href="{% url 'manage_schedule' %}" >1Kids</a>
            {% else %}
            <a class="navbar-brand" href="{% url 'home' %}" >1Kids</a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">


                    {% if user.is_authenticated %}
                        {% if user.partner.is_active %}
                            <!-- Menu for active partners -->
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'manage_schedule' %}">Manage Schedule</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'center_profile' %}">Center Profile</a>
                            </li>
                        {% else %}
                            <!-- Menu for regular users -->
                            <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'my-schedule' %}">Schedule</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'favorite_sections' %}">Favorites</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_notifications' %}">Notifications</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'profile' %}">{{ user.username }}</a>
                            </li>

                        {% endif %}
                    {% else %}
                        <!-- Menu for non-authenticated users -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <hr>
    <main class="container" style="min-height:500px;">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="bg-light text-center py-3">
        <div class="container">
            <p class="mb-0">&copy; 2024 1Kids. All rights reserved.</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
