{% extends 'base.html' %}
{% load static %}
    <link rel="stylesheet" href="../static/css/home.css">
{% block content %}
<h1>Sections by Categories</h1>

    {% for category in categories %}
        <h2>{{ category.name }}</h2>

        {% if category.sections.all %}
            <div class="carousel-container" style=" 
                                            position: relative;
                                            overflow-x: auto;
                                            white-space: nowrap;
                                            padding: 10px 0;">
                <div class="carousel" style="display: inline-flex;
                                             gap: 15px;">
                    {% for section in category.sections.all %}
                        <div class="carousel-item" style="background-color: #f8f8f8;
                                                            border: 1px solid #ddd;
                                                            border-radius: 8px;
                                                            padding: 15px;
                                                            width: 250px;  /* Adjust the width as needed */
                                                            display: inline-block;
                                                            white-space: normal;
                                                            text-align: left;">
                            <a href="section/{{section.id}}"><strong>{{ section.name }}</strong> </a><br>
                            {{ section.description }}<br>
                            Age: {{ section.min_age }} - {{ section.max_age }}<br>
                            Duration: {{ section.duration_minutes }} minutes<br>
                            Center: <a href="#">{{section.center}}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <p>No sections available in this category.</p>
        {% endif %}
    {% endfor %}
{% endblock %}
