<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Website Title{% endblock %}</title>
    </head>
<body>

    <!-- Header Section -->
    <header>
        <nav>
            <div style="display: flex; flex-direction:row">
                <div style="margin: 10px;"><a href="home">Home</a></div>
                <div style="margin: 10px;" ><a href="centers">Centers</a></div>
                <div style="margin: 10px;"><a href="shedule">Shedule</a></div>
                {% if user.is_authenticated %}
                    <div style="margin: 10px;" ><a href="profile">{{ user.username }}</a></div>
                {% else %}
                    <div style="margin: 10px;" ><a href="profile">Profile</a></div>
                {% endif %}
            </div>
        </nav>
    </header>
    <hr>

    <!-- Main Content Section -->
    <main style="min-height:500px">
        {% block content %}
        <!-- This is where the content of child templates will be injected -->
        {% endblock %}
    </main>

    <!-- Footer Section -->
     <hr>
    <footer style="display: flex; flex-direction:row;">
        <p style="padding-left: 10px;">&copy; 2024 Balakay</p>
        <p style="padding-left: 10px;">All rights reserved.</p>
    </footer>

</body>
</html>
