{% extends 'base.html' %}

{% block title %}Add Schedule{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-success text-white">
            <h2>Add Schedule</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Add Schedule</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
